# JWT
JWT_SECRET=teste123
JWT_EXPIRATION=123

# Database
DB_HOST=localhost
DB_PORT=1234
DB_NAME=project_db
DB_USER=postgres
DB_PASSWORD=123456

# Email credentials
RESEND_API_KEY=abc123
RESEND_FROM_EMAIL=teste@email.com
APP_BASE_URL=http://localhost:8080